<head>
	<title>DTI Rapid MIS</title>
	<link href='../static/fonts/monsterrat/mons.css' rel='stylesheet'>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link class="x-links" rel="stylesheet" href="../static/css/x.css">
	<link class="x-links" rel="stylesheet" href="../static/css/other.css">
	<link class="x-links" rel="stylesheet" href="../static/css/other2.css">
	<link class="x-links" rel="stylesheet" href="../static/css/loader.css">
	<link class="x-links" rel="stylesheet" href="../static/css/scroll_bar.css">
	<link class="x-links" rel="stylesheet" href="../static/css/css">
	<link class="x-links" rel="stylesheet" href="../static/css/chip.css">
	<link class="x-links" rel="stylesheet" href="../static/css/font-awesome.min.css">
	<!-- <link rel="icon" href="../static/img/icon.png"> -->
	<link rel="icon" href="../static/img/mis_2023_v2.svg">

	<script type="text/javascript" src="../static/js/Variables.js"></script>
	<script type="text/javascript" src="../static/js/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/Brorn.min.js"></script>
	<!-- <script type="module" src="../static/js/index.js"></script> -->
	<script type="text/javascript" src="../static/js/index.js"></script>
	<!-- <script type="module" src="../static/js/Bootloader.js"></script> -->
	<!-- <script type="text/javascript" src="../static/js/Bootloader.js"></script> -->

	<script src="../static/js/amcharts/index.js"></script>
	<script src="../static/js/amcharts/xy.js"></script>
	<script src="../static/js/amcharts/Animated.js"></script>
	<script src="../static/js/amcharts/hierarchy.js"></script>

	<!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
	integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
	crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
	integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
	crossorigin=""></script> -->
	 
	<script type="text/javascript" src="../static/js/leaflet/leaflet.js"></script>
	<script type="text/javascript" src="../static/js/leaflet/leaflet-panel-layers.js"></script>
	<script type="text/javascript" src="../static/jquery-3.5.1.min.js"></script>

	<link rel="stylesheet" href="../static/css/leaflet.css">
	<link rel="stylesheet" href="../../static/css/leaflet-panel-layers.css">
	<script src="../static/js/google/platform.js" async defer></script>

	<link rel="stylesheet" type="text/css" href="../static/css/datatable/jquery.dataTables.css">
	<script type="text/javascript" charset="utf8" src="../static/js/datatable/jquery.dataTables.js"></script>
	
<!-- 
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.css">
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>
 -->
</head> 

{% include 'spinner_loader.html' %}
<!-- https://cdn.amcharts.com/lib/5/geodata/philippinesLow.js -->