<div id="SPINNER_LOADER" class="x-modal x-display-container" style="">
	<span onclick="document.getElementById('SPINNER_LOADER').style.display='none'" class="x-padding x-text-yellow x-display-topright"><b>Minimize_</b></span>
	<span onclick="document.getElementById('SPINNER_LOADER').style.display='none'" class="x-padding x-text-yellow x-display-bottomright"><b>Minimize_</b></span>
	<div class="x-display-middle x-center">
		<h1 class="fa fa-spin fa-circle-o-notch x-text-white x-jumbo"></h1><br>
		<b class="x-text-white"> Loading, Please wait</b>
		<div id="SPINNER_LOADER_LOADING_BAR_CONTAINER" class="x-round x-light-grey" style="display:none;width: 50vw;">
			<div id="SPINNER_LOADER_LOADING_BAR" class="x-round x-container x-green" style="width:0%">&nbsp;</div>
		</div>
		<div id="SPINNER_LOADER_MSG" class="x-text-white x-container x-padding">
		</div>
	</div>
</div>

<script type="text/javascript">
	let SPINNER_LOADER = {
		show : function(){
			var elem_container = $ID("SPINNER_LOADER_LOADING_BAR_CONTAINER");
			var elem = $ID("SPINNER_LOADER_LOADING_BAR");
			elem_container.style.display = "none"
			elem.style.width = '0%'; 
			var elem_container = $ID("SPINNER_LOADER_LOADING_BAR_CONTAINER");
			$ID("SPINNER_LOADER").style.display = "block";
			this.message('<span>This may take a while.<br>This will disappear after the loading is done</span>');
			return elem;
		},
		hide : function(){$ID("SPINNER_LOADER").style.display = "none";},
		destroy : function(){$ID("SPINNER_LOADER").style.display = "none";},
		message : function(msg_){$ID("SPINNER_LOADER_MSG").innerHTML = msg_;return $ID("SPINNER_LOADER_MSG")},
		loading : function(percent){
			var elem = $ID("SPINNER_LOADER_LOADING_BAR");
			var elem_container = $ID("SPINNER_LOADER_LOADING_BAR_CONTAINER");
			elem_container.style.display = "block"
			elem.style.width = percent + '%';
			return elem;
		},
	};
</script>